<h1><%= title %></h1>
<input placeholder="Frist name" /><br />
<input placeholder="last_name" /><br />
<input placeholder="email" type="email" /><br />
<input placeholder="contact number" type="number" /><br />
<input placeholder="password" type="password" /><br />
<button type="submit">Submit</button>
